
@{
    ViewBag.Title = "ShowAuctions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="box" style=" min-height:520px;  height:auto; ">

    <div id="spots" class="Auction_Container" style="
    background-color: chartreuse;
    width: 20%;
    margin: 10px 10px 10px 10px;
    height: 350px;
">
        <h1 style="
    text-align: center;
">
            Auction Name
        </h1>
        <p style="
            text-align: center;
            ">auction Timer</p>
    </div>
    <div id="spots" class="Auction_Container" style="
    background-color: chartreuse;
    width: 20%;
    margin: 10px 10px 10px 10px;
    height: 350px;
">
        <h1 style="
    text-align: center;
">
            Auction Name
        </h1>
        <p style="
            text-align: center;
            ">auction Timer</p>
    </div>
    <div id="spots" class="Auction_Container" style="
    background-color: chartreuse;
    width: 20%;
    margin: 10px 10px 10px 10px;
    height: 350px;
">
        <h1 style="
    text-align: center;
">
            Auction Name
        </h1>
        <p style="
            text-align: center;
            ">auction Timer</p>
    </div>

</div>
