@using DataLayer.ViewModels;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box" style="height: 520px">
    <div class="col-lg-3 col-xs-6"  style="margin:45px;">
        <div class="small-box bg-aqua" style="background-color: rgba(235, 255, 0, 0.59)!important">
            <div class="inner">
                <h4>
                    <a href="/Auction/AddAuction" class="small-box-footer" style="color: #00027b;">ایجاد یک مزایده جدید <i class="fa fa-arrow-circle-left"></i></a>
                </h4>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6" style="margin:45px;">
        <div class="small-box bg-aqua" style="background-color: rgba(235, 255, 0, 0.59)!important">
            <div class="inner">
                <h4><a href="/Auction/AddAuction" class="small-box-footer" style="color: #00027b;"> افزودن محصول جدید<i class="fa fa-arrow-circle-left"></i></a></h4>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6" style="margin:45px;">
        <div class="small-box bg-aqua" style="background-color: rgba(235, 255, 0, 0.59)!important">
            <div class="inner">
                <h4><a href="/Auction/AddAuction" class="small-box-footer" style="color: #00027b;">ادمین جدید <i class="fa fa-arrow-circle-left"></i></a></h4>
            </div>
        </div>
    </div>
</div>

