
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<Style>
    .ErrorHandler {
        background-image: url('../../Content/img/bloges/ErrorHandler.jpg');
        width : 960px ;
        height : 512px ;
    }

</style>

<div class="ErrorHandler" style="text-align :center ; ">
    <h2 style="color:#ffffff">@ViewBag.path</h2>
    @*<h1>404Error page not found</h1>*@

</div>